/* TOPIC CARD */
.topic-container {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.topic-card {
  background: white;
  padding: 30px;
  width: 400px;
  text-align: center;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.topic-card:hover {
  transform: scale(1.05);
}


/* =========================
   CENTER TOPIC CARD
========================= */

.main-topic-card {
  background: #fffbe6;
  padding: 2rem 3rem;
  border-radius: 8px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  transform: rotate(-2deg);
  position: relative;
  margin-bottom: 3rem;
  text-align: center;
  max-width: 600px;

  h2 {
    font-size: 1.8rem;
    font-weight: 700;
  }

  &::before {
    content: '';
    width: 14px;
    height: 14px;
    background: #d33;
    border-radius: 50%;
    position: absolute;
    top: -7px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 2px 4px rgba(0,0,0,0.4);
  }
}
